@tailwind base;
@tailwind components;
@tailwind utilities;

.text-clip {
  background: url("/images/text-clip.gif");
  background-size: 100%;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
